[Unit]
Description=kmonad

[Service]
ExecStart=/usr/bin/kmonad %h/.config/kmonad/%i.kbd
Restart=always
RestartSec=5
StandardOutput=null
StandardError=null

[Install]
WantedBy=default.target
